nav {
  .logo {
    display: inline-block;
    $banner-logo-size: 25px;
    width: $banner-logo-size;
    height: $banner-logo-size;
    margin-top: -3px;
  }

  @media (min-width: $screen-sm-min) {
    ul.nav {
      float: right !important;
    }
  }

  .dropdown-menu {
    background-color: $base-gray;
  }
}