.tag-cloud {
  .tag {
    margin: 5px 7px;
    a {
      color: $base-text;
      text-decoration: underline;
    }
  }
}

.tag-list {
  a {
    @extend h4;
    color: $base-text;
    text-decoration: underline;
  }
}