nav {
  .logo {
    display: inline-block;
    $banner-logo-size: 25px;
    width: $banner-logo-size;
    height: $banner-logo-size;
    margin-top: -3px;
  }

  @include media-breakpoint-up(sm) {
    ul.nav {
      float: right !important;
    }
  }

  .dropdown-menu {
    background-color: $base-gray;
    background: url('../images/paper_fibers.png') repeat;
  }

  .navbar-toggler:focus {
    outline-color: $primary;
  }
}