.post {

  .highlight, pre, code {
    background-color: transparent;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    code {
      white-space: pre;
      word-wrap: normal;
    }
  }

  img {
    @extend .img-fluid;
    margin: 0 auto;
  }

  .tags {
    font-size: 10px;
    margin-bottom: 20px;

    .tag {
      margin-right: 5px;
      a {
        color: $base-text;
        text-decoration: underline;
      }
    }
    
  }

}