.resume .label {
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }

  .resume .row {
      margin-bottom: 35px;
  }

  @include media-breakpoint-up(md) {
  .resume .position-skills {
      padding-left: 40px;
  }
}