//@import url('https://fonts.googleapis.com/css?family=Merriweather');
//@import url('https://fonts.googleapis.com/css?family=Merriweather%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic&#038;ver=4.1');
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "code-highlight";
@import "site-bootstrap-extensions";
@import "full-height";
@import "search";
@import "tag-cloud";
@import "about";



body {
  background: url('../images/paper_fibers.png') repeat;
  font-weight: 200;
}

header {
  @extend .text-center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.arakawa-bg {
  background: url("../images/arakawawatermark.png") repeat-y scroll center top transparent;
}

.icon {
  width: 32px;
  height: 32px;
}

.align-center {
  @extend .text-center;
}

.category-heading {
  a:hover {
    text-decoration: none;
  }
}

.content  {
  margin-top: 20px;
  a {
    text-decoration: underline;
  }
}

@import "nav";
@import "postlist";
@import "post";
@import "resume";

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.highlight {
  border: 1px solid $base-gray;
}