//@import url('http://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic&#038;ver=4.1');
@import "site-bootstrap-variables";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "code-highlight";
@import "site-bootstrap-extensions";
@import "full-height";
@import "search";
@import "tag-cloud";

body {
  background: url('../images/paper_fibers.png') repeat;
  font-weight: 200;
}

header {
  @extend .text-center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.arakawa-bg {
  //background: url("../images/arakawawatermark.png") no-repeat fixed center top transparent !important; //this gets covered by viewport
  background: url("../images/arakawawatermark.png") repeat-y scroll center top transparent;
}

.icon {
  width: 32px;
  height: 32px;
}

.align-center {
  @extend .text-center;
}

.category-heading {
  a:hover {
    text-decoration: none;
  }
}


@import "nav";
@import "postlist";
@import "post";
@import "boostrap-overrides";
